@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="entering" id="text"><span>Реєстрація</span></div>
 <div class="form" id="regist">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-elements" id="registerForm">
         <label for="name">Імя</label>
        <input asp-for="Input.UserName" autocomplete="UserName" aria-required="true" id="name"/>
        <label for="surname">Призвіще</label>
        <input asp-for="Input.LastName"  autocomplete="LastName" aria-required="true" id="surname"/>
        <label for="surname">Логін</label>
        <input asp-for="Input.UserLogin" autocomplete="UserLogin" aria-required="true" id="login-reg"/>
        <label for="number">Номер телефону</label>
        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="PhoneNumber" aria-required="true" id="number"/>
        <label for="email">E-mail</label>
        <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true"  id="email"/>
        <label for="regist-password">Придумайте пароль</label>
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" id="regist-password" />
        <label for="regist-password">Підтвердження паролю</label>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
        <div class="text"><input type="checkbox" id="show-reg" class="show">Показати пароль</div>
        <button id="registerSubmit" type="submit">Зареєструватися</button>
    </form>
 </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
