@model dynamic


@{
    ViewData["Title"] = "Категорія";
}
<div class="mainTitle"><span>Оберіть категорію</span></div>
<form class="form-elements category"  method="post" asp-controller="Home" asp-action="CreateProductPage">
          <label for="Type">Main category</label>
        <select name="type.Id">
            @foreach(var item in Model.Type){
                <option value="@item.Id">@item.Type</option>
            }
        </select>
         <label for="Category">Sub category</label>
        <select name="category.Id" id="Category">
            @foreach(var item in Model.Category){
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <button type="submit">Далі</button>
</form>
