@model Shop.ModelHelpers.GetImgHelper

@{
    ViewData["Title"] = "Ceate product";
}
<h1>@ViewData["Title"]</h1>




<form method="post" enctype = "multipart/form-data" asp-controller="Home" asp-action="CreateProduct">
    <input name="file" type="file" id="file" />
        <button type="submit">Add</button>
</form>
    

