@model Shop.ModelHelpers.GetImgHelper

@{
    ViewData["Title"] = "Ceate product";
}
<h1>@ViewData["Title"]</h1>




<form method="post" asp-controller="Home" asp-action="AddPhoto" enctype = "multipart/form-data">
    <input name="photos" type="file" id="photo"  multiple/>
        <button type="submit">Add</button>
</form>
    

