@model dynamic
@inject UserManager<ShopUser> UserManager
@inject SignInManager<ShopUser> SignInManager
@using Microsoft.AspNetCore.Identity
@using Shop.Areas.Identity.Data
@using Shop.Areas.Identity.Pages.Account
@if (SignInManager.IsSignedIn(User))
{
<div class="mainTitle"><span>Оформлення замовлення</span></div>
    <form method="post" class="checkout" asp-controller="Home" asp-action="MakeOrder">
        <label for="location">Місто доставки</label>
		<input list="location" name="Location"/>
		<datalist id="location">
		<option value="Житомир"></option>
		<option value="Київ"></option>
		<option value="Одеса"></option>
		<option value="Херсон"></option>
		<option value="Львів"></option>
		<option value="Вінниця"></option>
		</datalist>
		<label for="postOffice">Поштове відділення</label>
		<input type="text" name="PostOffice" id="postOffice"/>
		<label for="number">Номер телефону для звязку</label>
		<input type="number" name="Number" id="number"/>
		<div clas="unitC" id='unitC'>
                <label for="Card">Kартою</label>
                <input type="radio" name="PaymentMethod" value="Card" id="Card" />
                <label for="Cash">При отриманні</label>
                <input type="radio" name="PaymentMethod" value="Cash" id="Cash"/>
         </div>
		 <input type="text" name="CardNumber" id="card">
		<input type="hidden" name="ProductId" id="productId" value="@Model.Product.Id"/>
		<input type="hidden" name="UserId" id="productId" value="@UserManager.GetUserId(User)"/>
		<input type="hidden" name="Sum" id="sum" value="@Model.Product.Price"/>
        <button id="postSubmit" type="submit">Замовити</button>
    </form>
}else{
<div><span>Для оформелння замовлення пройдить <a href="/Identity/Account/Register">реєстрацію</a> або
<a href="/Identity/Account/Login" id="login" class="login">авторизуйтесь</a></span></div>
}
